*{
    box-sizing: border-box; 
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#F3F5FC;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#logo{
    margin-top: 10px;
    height: 48px;
    width: 120px;
    margin-bottom: 0;
}

table{
    height: 100%;
    width: 100%; 
    border-collapse: collapse; 
}

#palabra{
    width: 1200px; 
    height: 650px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #F3F5FC;
    color: #0A3871;
    font-size: 32px;
    border: none;
    outline: none;
}

#palabra::placeholder{
    color: #0A3871;
    font-size: 32px;
    border: none;
}

#botones{  
    padding-left: 300px;
}

#encrip, #desecrip{
    width: 90%; 
    max-width: 328px; 
    height: 67px;
    margin: 10px auto; 
    color: #D8DFE8;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    margin-left: 60px;
    font-size: 20px;
    cursor: pointer;
}

#desecrip{
    color: #0A3871; 
    background: #D8DFE8; 
}

#cuadrado{
    width: 100%;
    width: 420px;
    height: 750px;
    margin-top: 20px;
    border-radius: 32px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px black;
}

#noText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#muñeco{
    padding-top: 120px;
    padding-bottom: 20px;
}

#texto::before{
    content: "Ningún mensaje fue encontrado";
    font-size: 32px;
    color: #343A40;
    font-weight: bold;
}

#texto2::before, #texto2{
    content: "Ingrese el texto que desea encriptar o desencriptar.";
    font-size: 20px;
    color: #343A40;
    padding-top: 20px;
}

#resultado{
    padding-top: 20px;
    margin-left: 20px;
    height: 650px;
    width: 90%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    resize: none;
    display: none;
}

#resultado::placeholder{
    color: #0A3871;
    font-size: 20px;
}

#copiar{
    margin-left: 20px;
    height: 60px;
    width: 380px;
    border-radius: 12px;
    color: #0A3871;
    border: 1px solid #0A3871;
    background-color: white;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1200px) {
    #palabra{
        width: 90%;
        height: 50vh;
        margin: 10px auto;
    }

    #botones{  
        padding-left: 0px;
    }

    #muñeco{
        width: 250px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #cuadrado{
        width: 90%;
        max-width: 420px;
        height: 50vh;
        margin: 20px auto;
    }

    #resultado{
        height: 80%;
        width: 90%;
    }

    #copiar{
        width: 90%;
        max-width: 380px;
        margin: 0px auto;
    }
}

@media screen and (max-width: 465px) {
    table {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    td {
        display: block;
        width: 100%;
    }
    #palabra {
        font-size: 24px;
        margin-left: 10px;
    }

    #encrip, #desecrip{
        margin-left: 55px;
    }

    #cuadrado {
        width: 360px;
        margin-left: 40px;
    }

    #texto::before {
        font-size: 24px;
    }

    #texto2::before,
    #texto2 {
        font-size: 18px;
    }

    #copiar {
        height: 50px;
        font-size: 14px;
    }

}